# standard imports
requests==2.32.0
python-dateutil==2.9.0.post0

# third party imports
django==4.2.11
djangorestframework==3.14
djangorestframework-gis==1.0
drf-spectacular==0.27.1
django-filter==24.1
markdown==3.5.2 # support for browsable API
psycopg2-binary==2.9.9
whitenoise==6.6.0

# live application server
gunicorn>=22.0.0


# DOCUMENTATION - MATERIAL FOR MKDOCS INSIDERS
# IMPORTANT: This project uses Material for MkDocs **INSIDERS** Edition.
# To install this you will need a GitHub token which is available (for RCPCH team only)
# in our .env files

# git+https://${MATERIAL_FOR_MKDOCS_INSIDERS_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git

# Further information is at https://squidfunk.github.io/mkdocs-material/insiders/getting-started/

mkdocs-material==9.5.13
mkdocs-git-committers-plugin-2==2.3.0 # displays authors at the bottom of the page
mkdocs-git-revision-date-localized-plugin==1.2.4 # displays last edit date at the bottom of the page
mkdocs-macros-plugin==1.0.5 # enables 'foldable' admonition text (used for large code blocks)
mkdocs-with-pdf==0.9.3 # PDF export feature

# code linting and formatting
autopep8==2.0.4
black==24.3.0

# for colored logs
colorlog==6.8.2

# RCPCH imports